html, body {
  background-color: #323232;
  color: white;
}

#content {
	padding-top: 80px;
}

a:link {
	color: yellow;
	background-color: transparent;
	text-decoration: none;
}

a:visited {
	color: orange;
	background-color: transparent;
	text-decoration: none;
}

a:hover {
	color: red;
	background-color: transparent;
	text-decoration: underline;
}